@charset "utf-8";

/* CSS Document */
/* Row del Header */
html {
    color: #ffff;
    margin: 0 5em;
}

body {
    background-color: #152015;
    display: flex;
    flex-direction: column;
}

/* Caja del header */
header {
    background-color: #6808A4;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #ffff;
    gap: 2em; 
}

header img {
    border-radius: 100%;
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;
}

/* Fuentes */
header h1{
    font-size: 2.25em;
    margin: 0;
}
header p{
    font-size: 2em;
    margin: 0;
}
h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    margin: 0;
}

/* tamaño de fuente */
h2 {
    font-size: 2em;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

p,
h3,
ul,
li {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    margin: 1em 0 0 0;
    font-size: 1.25em;
    list-style-type: none;
    padding-inline-start: 0;
}

a{
    text-decoration: none;
    color:#ffff;
}

h4 {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    margin: 1em 0 0 0;
    font-size: 1.10em;
}
/* Caja de los items del nav */

nav ol{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    background-color: #6808A4;
    border-radius: 1em;
    box-sizing: border-box;
    padding: .5em;
    gap: 1em;
}

nav li{
    margin: 0;
    padding: 1em;
    align-items: center;
    gap: 1em;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    text-transform: uppercase;
}

nav a{
    background-color: #152015;
    border-radius: 1em;
    padding: 1em 2em;
}
nav a:hover {
    background-color: #E4A93C;
    color:#000;
    border-radius: 1em;
    padding: 1em 2em;
    font-weight: 700;
}

/* Boxes de contenido */

.main-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
/* Columns */
.boxes-arriba {
    display: flex;
    gap: 1em;
}

.box-col {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    border-radius: 1em;
    gap:1em;
}

.box-col p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}

.arriba {
    flex: 1;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.2);
}
.arriba2 {
    flex: 1;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.2);
}
.arriba p {
    text-transform: none;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-size: 1.25em;
}
.abajo {
    flex: 1;
    background-color: #3A24AF;
    border-radius: 1em;
    padding: 1em;
}



.col2 {
    padding: 1em;
    background-color: #6808A4;
    border-radius: 1em;
}

/* Rows */
.boxes-abajo {
    display: flex;
    gap: 1em;
}

#habilidades {
    flex: 1;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-flow: row wrap;
    background-color:#ffff;
    color: #000000;
}
#habilidades section {
    flex: 1;
    align-content: center;
}
#habilidades article {
    margin: 1.1em;
    gap: 1em;
    display: flex;
}
#habilidades p {
    margin: 1.5em 0 0 0;
    font-weight: 700;
}
#contacto {
    flex: 0;
    background-color: #6808A4;
    padding: 1em;
    border-radius: 1em;
    gap: 1em;
    color: #ffff;
}
#contacto p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}

.footer {
    font-size: 16px;
}

