@charset "utf-8";

/* CSS Document */
html {
    color: #ffff;
    margin: 0 3em;
}


body {
    background-color: #152015;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 1em;
}
/* Flexbox de navigation items */

.navigationflexbox {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    list-style: none;
    background-color: #6808A4;
    border-radius: 1em;
    margin: 1em 0;
    padding: .5em 0;
}

.navigationitems {
    padding: 1em 3em;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

.navigationitems a{
    background-color: #152015;
    border-radius: 2em;
    padding: 1em 3em;

}
.navigationitems a:hover {
    background-color: #E4A93C;
    color:#000;
    border-radius: 2em;
    padding: 1em 3em;
    margin: 0;
    font-weight: 700;
}


/* Row del Header */
.headerbox {
    background-color: #6808A4;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #ffff;
    gap: 3em;
}

.headertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;
}

.hfoto {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

/* Fuentes */

.titulo {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

.bajada {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* tamaño de fuente */
.headerfont1 {
    font-size: 2.25em;
}

.headerfont2 {
    font-size: 2em;

}

h2 {
    font-size: 2em;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    text-transform: uppercase;
}

p,
h3,
h4,
ul {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 0 0;
    font-size: 1.25em;
}


.main-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.boxes-arriba {
    display: flex;
    gap: 1em;
}

.box-col {
    flex: 1;
    border-radius: 1em;

}

.col1 {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    flex: 1;
}

.arriba {
    flex: 1;
    padding: 1em;
}

.abajo {
    flex: 1;
    background-color: #3A24AF;
    border-radius: 1em;
    padding: 1em;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.col2 {
    padding: 1em;
    flex: 1;
    background-color: #6808A4;
    border-radius: 1em;
}

.col3 {
    flex: 1;
}


.boxes-abajo {
    display: flex;
    gap: 1em;
}

.box-row {
    flex: 1;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-flow: column wrap;
    background-color:#ffff;
    color: #000000;
}

.box-habilidades {
    display: flex;
    flex-flow: column wrap;
    height: 30em;
    gap: 1em;

}

.row1 {
    flex-grow: 3;
    padding: 1em;
    margin: 1em;
    gap: 1em;
    flex-flow: row;
    display: flex;
    align-items: start;
    justify-content: start;


}


.row2 {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 0;
    background-color: #6808A4;
    padding: 1em;
    gap: 1em;
    color: #ffff;
}

.row1 p {
    margin: 1.5em 0 0 0;
    font-weight: 700;

}

a {
    text-decoration: none;
    color:#ffff;
}

.logo {
    object-fit: contain;

}

.footer {
    font-size: 16px;
}