@charset "utf-8";
/* CSS Document */

/* bg general  */
html{
    background-color: whitesmoke; /* es una buena práctica usar colores con su codigo HEX en lugar de nombres, #f5f5f5 por ejemplo y te recomiendo aplicar el color de fondo tanto en html como en body */
}

/* box header  */
header /* acá no corresponde un salto de linea, deberias escribir todo junto en la misma linea*/
h1 {
    text-align: center;
    color: white;
    
}
.destacado {
    color: white;
    text-align: center;
}
.boxh1 {
    width:1000px;
    height:auto;  /* el height en auto no está afectando en nada porque es el valor por defecto */
    background-color: black;
    margin: auto;
    padding: 5px;
    border-bottom-right-radius: 30px; /* podés simplificar estas lineas usando border-radius: 0 0 30px 30px;*/ 
    border-bottom-left-radius: 30px;
    box-sizing: border-box; /* el border-box se puede aplicar con el selector universal (*) de esta forma: * { box-sizing: border-box;} */
}

/* Main */
main{ /* es una buena práctica poner un espacio entre el selector y la llave de esta forma: main { */
    width: 900px;
    background-color: lightgray;
    font-size: 1em;
    margin: 0px auto; /* el 0px puede ser solo 0 */
    padding: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* box h2s  */
h2 {
    color: white;
    padding-left: 20px;   
}
.boxh2 {
    width: 200px;
    height:auto;
    background-color: black;
    padding:5px;
    border-radius: 30px;
    box-sizing: border-box;
}

/* Squares en experiencia  */
ul {
    list-style-type: square;
}

/* Habilidades */
.HabilidadesLista {
    list-style-type: none;
}

.abc {
    align-items: center;
    display: inline-block;
    width: auto; /* por defecto el valor el auto */
    height:auto;
    background-color: whitesmoke;
    padding:20px;
    border-radius: 30px;
    margin: 30px;
    text-align: center;
}

/* footer */
footer {
    text-align: center;
}
.Contacto {
display: inline-block;
margin-right: 20px;
}
.footerA{
    display: block;
    font-size: 16px;
    font-style: bold; /* para aplicar bold deberías usar font-weight, por eso no se ve el texto en negrita, font-style se usa para aplicar italic */
}
.footerB {
    display: block;
    font-size: 14px;
    color:dimgray
}

a {
    text-decoration: none;
    color: black; 
}
